.App {
  text-align: center;
  justify-content: center;
} 
.jokes{
  display: flex;
  flex-wrap: wrap;
}
.delivery {
  width: 45%;
  position: relative;
  border-radius: 5px; 
  background-color: blue;
  color: black;
}