.App {
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./backgroundpic.jpg');
  background-size: 100% 100%;
} 
.joke-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  height: 75%vh;
}
.jokedata-container{
  height: 85%vh;
  width: 100vw;
}
.setup{

  width:85%;
  position: relative;
  border-radius: 5px; 
  background-color: rgb(255, 253, 115);
  color: black;
  margin: 0 auto;
  padding: 10px;
}
.nav-link{

  color: Red;
  
}
.nav-container{
  background-color: rgb(255, 253, 145);
  height: 13vh;
}
.navbar{
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  padding-top: 40px;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
}
.get-joke-btn{
  height: 25px;
  width: 175px;
  cursor: pointer;

}
.like-btn{
  height:25px;
  width: 175px;
  cursor: pointer;
}
.btns{
  display: flex;
  flex: grid; 
  justify-content: space-evenly;
  cursor: pointer;
  

}